@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* start - main CSS */
main{
    margin: 50px 140px 0px 140px;
}
/* end - main CSS */

/* star - banner design */
.banner{
    width: auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.banner h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin: 177px 344px 0 344px;
}
.banner h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    margin: 16px 300px 144px 300px;
}

/* discount sections */
.dis-section{
    max-width: 641px;
    margin: 0 auto;
}
.dis-section img{
    width: 640px;
}
.dis-section .dis-rate{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 39px;
}
.dis-section .dis-para{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.dis-section .dis-description {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
/* party section */
.party-section{
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    display: flex;
    background-position: center;
    background-size: cover;
}
.party-section .party-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 6%;
    text-align: left;
    margin: 100px 0 24px 100px;
}
.party-section .party-para{
    max-width: 550px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 100px;
}
.party-images img{
    width: 250px;
    height: 400px;
    margin: 80px 82px 54px 0;
}
.party-section .party-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 68px 0 124px 158px;

}
.place-section{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    text-align: center;
}
.place-section span{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 30px;
}
.place-section .place-sec-text{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.place-section{
    margin-top: 120px;
    align-items: center;
    text-align: center;
    padding: 85px 240px 40px 250px;
}
.orange-btn{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 32px;
    outline: none;
    border: none;
    margin-top: 48px;
    margin-bottom: 110px;
}
.offer-section{
    display: flex;
    margin-top: 120px;
    gap: 20px;
    align-items: center;
}
.offer-section p{
    width: 314px;
}
.offer-section .offer-text h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.offer-section .offer-text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}
.offer-section .offer-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.offer-section .offer-image img{
    box-sizing: border-box;
    width: 350px;
    text-align: center;
    border: 12px solid #FF0000;
    padding: 30px;
    border-radius: 50%;
}
.offer-section .offer-year-logo{
    text-align: left;
    align-items: flex-end;
    margin-left: 20px;
}
.offer-section .offer-year-logo h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 75px;
}
.offer-section .offer-year-logo p{
    width: 250px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 28px;
}
.offer-section .offer-year-logo img{
    position: bottom right;
}